html, body
{
    padding: 0px;
    margin: 0px;
    background-color: beige;
    font-size: 16px;
}


header{
    text-align: center;
    color: rgb(60, 58, 58);
    background-color:rgb(210, 156, 18);
    border-radius: 0 0 15px 15px;
    width:100%vw;
    font-size: 1.3em;
    height: 2rem;
    padding: 20px 0px 30px 0px;
    margin-bottom: 10px;
}

footer
{
    text-align: center;
    color: rgb(60, 58, 58);
    background-color:rgb(210, 156, 18);
    border-radius: 15px 15px 0px 0px;
    width:100%;
    font-size: 1.3em;
    height: 4rem;
    padding: 30px 0px 30px 0px;
}

h1
{
    margin: 0;
}


nav{
    background-color:  rgb(210, 156, 18);
    padding: 14px 0px;
    position: sticky;
    font-size: 1.3em;
    width: 100%vw;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #888;
    overflow: hidden;
}


.Options
{
    display: inline;
    padding: 0px 10px 0px 20px;
}

.Text
{
    padding: 0px 500px 0px 345px;
    display: inline;
}

#message_login_register
{
    padding: 0px 420px 0px 317px;
    display: inline;
}
.Logout
{
    display:inline;
    padding: 0px 20px 0px 0px;;
    margin: 0;
}

.navbar a:visited
{
    color:black;
}

.Selection button
{
    text-align: center;
    font-size: 5em;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 48vw;
    height: 500px;
    border-radius: 15px;
}

.Selection
{
    padding: 20px 0px 20px 15px;
    display: inline-block;
}

#Search_Category
{
    text-align: center;
    font-size: 2em;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    width: 48vw;
    border-radius: 15px;
    margin: 110px 0px 33px 375px;
    padding: 30px 0px 5px 0px;
}


#Menu
{
    width: 50%;
    height: 50%;
    font-size: 70%;
    margin: 20px 0px 20px 0px;
}


form input
{
    font-size: 70%;
    margin: 0px 0px 20px 0px;
}

#InsideCategory button
{
    text-align: center;
    font-size: 2em;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 45%;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 5px 0px 138px 393px;
}

.Login_Search_Register_box
{
    text-align: center;
    font-size: 2em;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    width: 48vw;
    border-radius: 15px;
    margin: 50px 0px 0px 375px;
    padding: 5px 0px 0px 0px;
}

#padding_and_or
{
    margin-bottom: 0.1;
    margin-top: 0.1;
    padding-bottom: 0.5;
    font-size: 1e;
}


#InsideTitleAuthor button
{
    text-align: center;
    font-size: 2em;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 45%;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 5px 0px 58px 393px;
}


#Inside_Login_Register_button button
{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin: 0px 0px 30px 0px;
}

table
{
    width: 100%;
}

.display_box
{
    text-align: center;
    font-size: 150%;
    background-color: #cc772c;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 7% 10% 0% 10%;
    padding: 20px;
}

table, th,td
{
    border: 3px solid black;
    border-collapse: collapse;
}

.page, .page a
{
    text-align: center;
    display: inline-block;
    background-color: #cc772c;
    color:black;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 15px;
    margin: 40px 0px 40px 363px;
}








